.form {
  display: flex;
  gap: 10px;
  margin: 0;
  justify-content: center;
  margin-bottom: 30px;
}

.searchField {
  width: 250px;
  height: 25px;
  border-radius: 8px;
  border-style: dashed;
  border-color: chocolate;
  background-color: transparent;
  padding-left: 10px;
  color: white;
}

.submitBtn {
  height: 30px;
  border-style: none;
  border-radius: 8px;
  width: 80px;
  background-color: chocolate;
  color: white;
}
