.modalCloseBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: black;
  border: 1px solid white;
}

.img {
  width: 800px;
  max-height: 700px;
  border-radius: 8px;
  object-fit: contain;
}

.altDescription {
  display: flex;
  justify-content: space-around;
  color: black;
  font-size: 30px;
}
